<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:type="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/common :: head(title='Formulário de Produto')}"></head>

<body>
<nav th:insert="~{fragments/common :: navbar}"></nav>

<main>
    <h1 th:text="${produtoDTO.id == null} ? 'Cadastrar Novo Produto' : 'Editar Produto'">
        Formulário de Produto
    </h1>

    <form th:action="${produtoDTO.id == null} ? @{/produtos/novo} : @{/produtos/editar/{id}(id=${produtoDTO.id})}"
          th:object="${produtoDTO}"
          method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" th:field="*{descricao}" />
        </div>
        <div>
            <label for="preco">Preço:</label>
            <input type="number" id="preco" step="0.01" th:field="*{preco}" />
        </div>
        <div>
            <label for="estoque">Estoque:</label>
            <input type="number" id="estoque" th:field="*{quantidadeEstoque}" />
        </div>
        <div>
            <button type="submit">Salvar Produto</button>
        </div>
    </form>

    <hr style="margin: 20px 0;"/>
    <a th:href="@{/produtos}">Voltar para a lista</a>
</main>
</body>
</html>