<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/common :: head(title='Gestão de Produtos')}"></head>

<body>
<nav th:insert="~{fragments/common :: navbar}"></nav>

<main>
    <h1>Gestão de Produtos</h1>

    <p sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/produtos/novo}" class="button">+ Cadastrar Novo Produto</a>
    </p>

    <div th:unless="${listaDeProdutos.isEmpty()}">
        <h2>Nossos Produtos</h2>
        <table> <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Estoque</th>
            <th sec:authorize="hasRole('ADMIN')">Ações</th>
        </tr>
        </thead>
            <tbody>
            <tr th:each="produto : ${listaDeProdutos}">
                <td><span th:text="${produto.id}">1</span></td>
                <td><span th:text="${produto.nome}">Nome</span></td>
                <td><span th:text="${#numbers.formatCurrency(produto.preco)}">R$</span></td>
                <td><span th:text="${produto.descricao}">...</span></td>
                <td><span th:text="${produto.quantidadeEstoque}">0</span></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a> |
                    <a th:href="@{/produtos/deletar/{id}(id=${produto.id})}"
                       onclick="return confirm('Tem certeza?');">
                        Deletar
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${listaDeProdutos.isEmpty()}">
        <p>Nenhum produto cadastrado ainda.</p>
    </div>
</main>
</body>
</html>